.website-choice-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    text-align: left;
    .website-choice {
        border-bottom: 1px dashed #bbb;
    }
    .delete-btn {
        cursor: pointer;
        text-align: center;
        border-bottom: 1px dashed #bbb;
    }
    .edit-btn {
        cursor: pointer;
        border-bottom: 1px dashed #bbb;
        margin-right: 15px
    }
    .editing-form {
        padding-top: 10px;
    }
}
