.website-choice-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    border-bottom: 1px dashed #bbb;
    text-align: left;
    .delete-btn {
        cursor: pointer;
    }
    .edit-btn {
        cursor: pointer;
    }
}
