.App {
    text-align: center;

    .App-header {
        background-color: red;
        height: 150px;
        padding: 20px;
        color: white;
        .App-logo {
            animation: App-logo-spin infinite 1s linear;
            height: 80px;
            @keyframes App-logo-spin {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }
        }
        .App-title {
            font-size: 1.5em;
        }
    }
    .App-intro {
        font-size: large;
    }
}
